:root {
    --primary-bg: #fffeff;
    --secondary-bg: #00aad4;
    --header-bg: #656870;
    --header-bg-low: #6568706f;
    --header-text: #262c5c;
    --paragraph-text: #000;
    --small-font:5pt;
    --padding1:20px;
    --margin1:10px

}



/* NAVIGATION */

header {
  background-color: var(--primary-bg);
  color: #fff;
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 0;
  font-family:monospace;
  font-size: small;

} 

header img {
  width: 80%; /* Make the image take up 100% of its container's width */
  max-width: 80%; /* Ensure the image doesn't exceed its natural size */
  min-width: 80%;
  height: auto; /* Maintain the image's aspect ratio */

}


nav {
  display: flex;
  flex-direction: column; /* Updated to column layout */
  align-items: center; /* Center items horizontally */
}

#logo img {
  max-width: 100%;
  height: auto;
}

#menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: width 3s ease-out
}

#menu li {
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: var(--header-text);
  
}

#menu a:hover{
  color:#262c5cb3;
  
}
#menu a:active{
  color: var(--header-bg);
  
}

#menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

#menu-icon:hover {
  color:#262c5cb3;
}

#menu-icon:active {
  color: var(--header-bg);
}

@media only screen and (max-width: 768px) {
  #menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #6568707d;
      transition: width 3s ease-out
  }

  #menu.show {
      display: flex;
  }

  #menu li {
      margin: 10px;
      text-align: center;
  }

  #menu-icon {
      display: block;
      color: var(--header-text);
  }

  
}

/*NAVIGATION END*/




.main-container {
   
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--primary-bg);
    margin-left: 20px;
    margin-right: 20px;
   
}



h1, h2 {
    color: var(--header-text)
}

h3, h4 {
    color: var(--secondary-bg);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    color: #555;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--secondary-bg);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color:var(--header-text);
}



section_services services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

section_services services item{
    padding: var(--padding1);
    margin: var(--margin1);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

section_choose_us .reasons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

section_choose_us .reasons .item {
    padding: var(--padding1);
    margin: var(--margin1);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;

}

section_choose_us .reasons .item img {
    max-width: 50px;
    width: 60%;
    margin: auto;
    display: block;
    
}

section h2 {
    padding: 20px;
    background-color: var(--secondary-bg);
    color: var(--primary-bg);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

section p {
    padding: 0;
}

section li {
    padding: 20px;
    color: var(--secondary-bg);

    margin: 30px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    
}


#contact a:hover {
    text-decoration: underline;
}


.footer {
    text-align: center;
    color: var(--secondary-bg);

    background-color:var(--header-bg-low);
    
    text-align: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    vertical-align: baseline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    
}

.footer .contact_and_address{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-left: 0px;
}


.footer p{
    color: var(--header-text);
}

.footer h2{
    color: var(--header-text);
    border-bottom: 0;
}

.footer .copyright p{
    color: var(--header-text);
    font-size: var(--small-font);
    padding-left: 0px;
}






@media screen and (max-width: 500px) {
    section_services services {
      flex-direction:column;
    }
  }



  /* GALLERY */

.container *,
.container *::before,
.container *::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}


.container {
  padding-top: var(--padding1);
  margin: 0 auto;
  max-width: 700px;
  max-height: 100vh;
  background-color: white;
}


/* Useful Classes */
.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition {
  transition: all 350ms ease-in-out;
}

.r-3-2 {
  width: 100%;
  padding-bottom: 66.667%;
  background-color: #ddd;
}

.image-holder {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery {
  position: relative;
  white-space: nowrap;
  font-size: 0;
}

.item-wrapper {
  cursor: pointer;
  width: 23%; /* arbitrary value */
  display: inline-block;
  background-color: white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
  font-size: 0;
  border-top: none;
}
.move-btn {
  display: inline-block;
  width: 50%;
  border: none;
  color: #ccc;
  background-color: transparent;
  padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; }


